/* Global Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.alert{
    margin-top: 10px;
}

#footer{
    border-top: 1px solid #ddd;
    padding-%top: 10px;
    margin: 0;
}

#group-selector{
    margin-top:30px;
}

#group-selector select{
    margin: 0;
    width: 85%;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    color: #555555;
}
#calendar{
    text-align: center;
    font-weight: bold;
}

.col-sm-2{
    font-weight: normal;
}

#InputFile{
    padding-left: 10px;
}

.control-label{
    margin-left: -15px;
}

.btn-xs{
    border:0;
    margin-left: -5px;
}

.btn-primary{
    margin-left:-35px;
}

#form-footer{
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    padding-%top: 10px;
    margin: 0;
}

#button-form{
    margin-top: 20px;

}