{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock %}

{% block title %}Групи{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{% url 'groups_add' %}">Додати групу</a>

<!-- Groups list-->
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>№</th>
        <th><a href="">Назва</a></th>
        <th><a href="">Староста</a></th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'groups_edit' group.id %}">{{group.name}}</a></td>
            <td><a href="">{{group.leader}}</a></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                            type="button"
                            id="dropdownMenu1"
                            data-toggle="dropdown">Дія
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/journal/{{group.id}}">Відвідування</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url 'groups_edit' group.id %}">Редагування</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url 'groups_delete' group.id %}">Видалити</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- End Groups List-->

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">Далі</a></li>
    </ul>
</nav>

{% endblock %}